<header class="header-container">
    <div><img src="images/SeisTourLogo-removebg-preview.png" alt="Seis Tour" class="header-img"></div>
    <div class="header-title">
        <h1>SeisTour</h1>
    </div>
    <div class="teams-logos">
        <a href="pages/teams/fairway-fiends.html"><img src="images/Fairway Fiends Logo.png" alt="Fairway Fiends"></a>
        <a href="pages/teams/greenside-goats.html"><img src="images/Greenside Goats logo.png" alt="Greenside Goats"></a>
        <a href="pages/teams/rough-riders.html"><img src="images/Rough Riders Logo.png" alt="Rough Riders"></a>
        <a href="pages/teams/sand-sharks.html"><img src="images/Sand Sharks logo.png" alt="Sand Sharks"></a>
        <a href="pages/teams/wedge-wizards.html"><img src="images/Wedge Wizards Logo.png" alt="Wedge Wizards"></a>
    </div>
</header>
<header>
    <nav>
        <ul>
            <a href="index.html"><i class="fas fa-home" style="color: black" margin-right="40px"></i></a>
            <!-- Stats Dropdown -->
            <li class="dropdown-container">
                <li class="dropdown-container">
                    <a href="#" class="dropdown-toggle">Stats</a>
                    <div class="dropdown">
                        <a href="pages/all-time-stats.html">Career Stats</a>
                        <a href="pages/previous-season-stats.html">Season Stats</a>
                    </div>
                </li>
                <li class="dropdown-container">
                    <a href="#" class="dropdown-toggle">Event Winners</a>
                    <div class="dropdown">
                        <a href="pages/events/championships.html">Championships</a>
                        <a href="pages/events/majors.html">Majors</a>
                        <a href="pages/events/virtual.html">Virtual</a>
                    </div>
                </li>
                <li class="dropdown-container">
                    <a href="pages/rules.html" class="navigation-button">Rules</a>
                </li>
                <li class="dropdown-container">
                    <a href="pages/how-it-works.html" class="navigation-button">How it Works</a>
                </li>
            </li>
        </ul>
    </nav>
</header>
